<html>
    <link rel="stylesheet" href="../../public/styles.css">
    <header class="text-gray-600 body-font lg:mx-12">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          

            <svg xmlns="http://www.w3.org/2000/svg" class="text-red-500 h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 14l9-5-9-5-9 5 9 5z" />
              <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
            </svg>


            <a href="/student" class="ml-3 text-3xl font-bold">  <%= user.regno %>  </a>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a id="home" href="/" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Home</a>
            <a id="library" href="/student/library" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Library</a>
            <a id="hostel" href="/student/hostel" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Hostel</a>
            <a id="tuts" href="/student/tutorials" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Tutorials</a>
          </nav>
          <button onclick="window.location.href='/logout'" class="inline-flex items-center bg-gray-100 border-0 py-2 px-3 focus:outline-none hover:bg-gray-200 rounded text-xl mt-4 md:mt-0">Logout
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
    </header>
</html>