<html>
    <link rel="stylesheet" href="../../public/styles.css">
    <header class="text-gray-600 body-font lg:mx-12">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          

            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>

            <a href="/faculty" class="ml-3 text-3xl font-bold">  <%= user.facultyid %>  </a>

          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a id="home" href="/" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Home</a>
            <a id="library" href="/faculty/library" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Library</a>
            <a id="tuts" href="/faculty/tutorials" class="mr-5 text-xl font-bold hover:text-gray-900 cursor-pointer">Tutorials</a>
          </nav>
          <button onclick="window.location.href='/logout'" class="inline-flex items-center bg-gray-100 border-0 py-2 px-3 focus:outline-none hover:bg-gray-200 rounded text-xl mt-4 md:mt-0">Logout
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
    </header>
</html>